@tailwind base;
@tailwind components;
@tailwind utilities;

$primary_color: #091a28;
$secondary_color: red;
$accent_color: #ffffff;

html {
  scroll-behavior: smooth;
}

.theme-fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  border-radius: 50%;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-4px);
  }
}

[data-theme="dark"] {
  /* your styles for dark theme */

  body {
    background-color: $primary_color;
    color: $accent_color;

    .theme-fab {
      background-color: $accent_color;
      color: $primary_color;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      &:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
      }
    }
  }
  nav,footer {
    background-color: $primary_color;
  }
}

[data-theme="light"] {
  /* your styles for light theme */

  body {
    background-color: $accent_color;
    color: $primary_color;
    .theme-fab {
      background-color: $primary_color;
      color: $accent_color;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      &:hover {
        box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
      }
    }
  }
  nav,footer {
    background-color: $accent_color;
  }
}

.slide-in-section {
  position: relative;
  left: -100%;
  transition: all 0.5s ease;
}

.slide-in-section.active {
  left: 0;
}